/*général*/
.mt-150px {
  margin-top: 150px;
}

.mt-200px {
  margin-top: 200px;
}

body {
  overflow-X: hidden;
}

p {
  line-height: 25px;
}

.set_bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe {
  width: 100%;
  height: auto;
}

/*taches*/
.tache {
  position: absolute;
  z-index: -1;
  width: 30%;
  height: auto;
}

.tache1 {
  top: 45vh;
  left: -10vw;
}

.tache2 {
  top: -17vh;
  left: 45vw;
}

.tache3 {
  top: -30vh;
  left: 0vw;
}

.tache4 {
  top: -45vh;
  left: 78vw;
  width: 30%;
}

.tache5 {
  top: -40vh;
  left: -15vw;
  z-index: -1;
  width: 30%;
}

.tache6 {
  width: 25%;
}

/* .tache6 {
  left: 60vw;
  width: 40%;
  z-index: -1;
  bottom: -32vh;
} */
/*illustrations*/
.illustration {
  position: absolute;
  z-index: 0;
  width: 300px;
  height: auto;
}

.illustration1 {
  top: -13vh;
  left: 55vw;
}

.illustration2 {
  top: -15vh;
  left: 0vw;
}

.illustration3 {
  top: -10vh;
  left: 70vw;
  z-index: -1;
}

.illustration4 {
  top: -15vh;
  left: 45vw;
}

/*section vidéo*/
#content_video {
  position: relative;
  height: 100vh;
}

.btn_lls {
  margin: 10px 0;
  list-style: none;
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  /* text-transform: uppercase; */
  color: #f09682;
  font-family: 'Ubuntu', sans-serif;
}

.btn_lls {
  text-decoration: none;
}

.btn_lls:hover {
  color: #f09682;
}

.btn_lls:before {
  content: " ";
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 3px;
  position: absolute;
  transition: all 0.35s ease-in-out;
}

.btn_lls:hover:before {
  width: 100%;
  left: 0%;
  background-color: #f09682;
}

.video {
  margin-top: 2%;
  width: 100%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  overflow: hidden;
}

#video{
 position: relative;
 background: transparent;
}

.video{
 /* position: absolute;
 top: 0;
 z-index: -1; */
}

/* .ytp-title{
  display: none;
} */

.fab{
  color: #21253f;
  font-size: 1.5em;
  margin: 0 15px;
  transition: .3s;
}

.fab:hover{
  color: #f09682;
}

.ytp-title-enable-channel-logo .ytp-title {
    min-height: 52px;
    display: none;
}

.name, .bl {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 3;
  color: #fff;
  font-weight: 700;
  margin-left: 80px;
  font-family: 'Ubuntu', sans-serif;
}

.name {
  font-size: 50px;
}

.bl {
  margin-top: 45px;
  font-size: 30px
}

.lettrine1 {
  top: -5%;
  left: -15%;
}

.lettrine2 {
  top: -5%;
  left: -15%;
}

.lettrine3 {
  top: -5%;
  left: 37%;
}

.lettrine4 {
  top: -5%;
  left: 37%;
}

/*PROCHAINEMENT*/
.next_ev {
  background-color: #f09682;
  z-index: 3;
  width: 380px;
  height: 300px;
  top: 50vh;
  right: -340px;
  position: fixed;
  padding: 10px 0 10px 10px;
  transition: 1s;
  display: flex;
}

.fa-sort-down {
  color: #fff;
  position: absolute;
  /* transform: rotate(90deg); */
  font-size: 1.5em;
  top: 65%;
  left: 115%;
  transform: translate(-50%, -50%) rotate(180deg);
  transition: 1s;
}

.next_ev:hover .fa-sort-down {
  transform: translate(-50%, -50%) rotate(0deg);
  top: 15%;
}

.next_ev:hover {
  right: 0%;
}


.next_ev_title {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%) rotate(-90deg);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.next_ev_container {
  width: 300px;
  height: 250px;
  top: 0;
  left: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-info {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.event-date {
  font-size: 40px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0px 0px 4px #404040;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.event-title {
  color: #FFF;
}

.event-categorie {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ffffff;
}

.img-event {
  height: 100%;
  width: 100%;
}

.wrap {
  margin: 0px 10px 25px;
  background-color: bisque;
  width: 300px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.desc-wrap {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

/*section qui sommes nous */
#content_about, #content_activites, #content_actu_article {
  /* display: flex; */
  justify-content: space-between;
  position: relative;
}

.content_texte, .content_image {
  position: relative;
  padding: 0;
}

.content_texte .content_title {
  height: 30px;
  color: #21253f;
  font-size: 25px;
  font-weight: bold;
}

.content_texte .content_para {
  color: #000;
  font-size: 14px;
  margin-left: 16px;
  margin-top: 45px;
}

.btn_menu {
  background-color: #f09682;
  color: #FFFFFF;
  text-decoration: none;
  height: 100%;
  padding: 12px 15px;
  font-size: 12px;
  font-weight: bold;
  right: 0;
  margin-left: 16px;
}

.content_image {
  height: 350px;
}

.image_l {
  height: 350px;
  background-color: #888;
  position: absolute;
}

.image_r {
  height: 200px;
  background-color: #666;
  position: absolute;
  top: 40%;
}

.btn_access {
  color: #f09682;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  /* margin-left: 16px; */
  position: absolute;
  margin-top: 10px;
}

/*section actus */
/*categorie color*/
.exposition {
  background-color: #f8c477;
}

.vente {
  background-color: #da6e91;
}

.rencontre {
  background-color: #03579c;
}

.conference {
  background-color: #f09682;
}

.autre {
  background-color: #a15d9a;
}

/*fin des couleurs*/
#content_actu {
  position: relative;
}

#actu_title {
  text-align: center;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 45px;
}

.actu_principal {
  padding: 10px;
  position: relative;
}

.actu_principal:hover .actu_principal_image {
  transform: scale(1.04);
}

.actu_principal_image {
  height: 330px;
  transition: 0.6s;
}

.actu_principal_info {
  min-height: 155px;
  background-color: #f8f8f8;
  padding: 0;
  margin-top: -70px;
  display: flex;
}

.actu_principal_info .categorie {
  width: 135px;
  padding: 10px;
  text-align: center;
  position: relative;
  color: #fff;
  font-weight: bold;
}

.actu_principal_info .actu_content_info {
  padding: 20px 0;
}

.actu_secondary:hover .actu_secondary_image {
  transform: scale(1.04);
}

.categorie_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.actu_date {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.vimeo-wrapper iframe {
  width: 100%;
  height: 100%;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.actu_principal_info h1, .actu_secondary_info h1 {
  margin: 20px 0;
  font-weight: bold;
  padding: 0;
}

#content_actu .actu_principal .btn_access {
  margin: 0;
  position: relative;
  left: auto;
}

/*actus secondaires*/
.content_actu_secondary {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.actu_secondary {
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
}

.actu_secondary:nth-child(1) {
  margin-bottom: 20px;
}

.actu_secondary_image {
  height: 195px;
  transition: 0.6s;
}

.actu_secondary_info {
  min-height: 155px;
  background-color: #f8f8f8;
  padding: 0;
  margin-left: -17%;
  display: flex;
}

.actu_secondary_info .categorie {
  width: 100%;
  padding: 10px;
  text-align: center;
  position: relative;
}

.actu_secondary_info .actu_content_info {
  padding: 20px 0;
}

#content_actu .actu_secondary .btn_access {
  margin: 0;
  position: relative;
  left: auto;
}

#content_actu .btn_access, #content_realisation .btn_access, .hey {
  left: 50%;
  transform: translateX(-50%);
}

/* .btn_access_actu{
  text-align: center;
} */
/*section réalisations*/
#content_realisation {
  margin-bottom: 180px;
  position: relative;
}

#content_realisation_article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.realisation_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
}

.realisation_img:hover {
  transform: scale(1.04);
}

#content_realisation_article>.realisation_img:nth-child(1) {
  height: 400px;
}

.content_realisation_img>.realisation_img:nth-child(1) {
  height: 250px;
  margin-bottom: 1rem;
}

.content_realisation_img>.realisation_img:nth-child(2) {
  height: 200px;
}

#content_realisation_article>.realisation_img:nth-child(3) {
  height: 350px;
}

/*FAQ*/
#content_faq {
  position: relative;
}

.card {
  border: none;
  position: static;
  background: none;
  margin: 15px 0;
}

.card-header {
  background: none;
  position: relative;
  border: 0;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
}

.card-header:before {
  position: absolute;
  margin-top: 40px;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #21253f;
  transition: 0.6s;
}

.card-header:hover:before {
  background-color: #f09682;
}

.btn {
  padding: 0;
}

.img3 {
  margin-top: 50px;
}

.btn-link {
  color: #21253f;
  font-size: 16px;
  display: flex;
  font-weight: bold;
  transition: .6s;
}

.card:hover {
  cursor: pointer;
}

.card-header:hover .btn-link {
  color: #f09682;
  text-decoration: none;
}

.card-header:hover .btn-link {
  color: #f09682;
  text-decoration: none;
}

.card-header:hover .horizontal {
  background-color: #f09682;
}

.card-header:hover .vertical {
  background-color: #f09682;
}

.card-body {
  background-color: #F8F8F8;
}

.card-flex {
  display: flex;
  justify-content: space-between;
}

.horizontal {
  width: 14px;
  height: 3px;
  background-color: #21253f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .6s;
}

.vertical {
  width: 3px;
  height: 14px;
  background-color: #21253f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .6s
}

.plus {
  position: absolute;
  height: 14px;
  width: 14px;
  right: 15px;
  margin-top: 5px;
  transition: .3s ease;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  transition: .3s ease;
  margin-left: 500px;
}

.card-flex.collapsed .plus {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: .3s ease;
}

@media screen and (max-width: 1200px) {
  .plus {
    margin-left: 380px;
  }

  .tache2 {
    left: 60vw;
  }

  /* .tache6 {
    left: 60vw;
  } */
  .illustration3 {
    top: -15vh;
  }

  .illustration1 {
    left: 60vw;
  }
}

@media screen and (max-width: 992px) {
  .tache2 {
    top: 30vh;
    left: 40vw;
  }

  .illustration1 {
    top: 20vh;
    left: 45vw;
  }

  .tache3 {
    top: 10vh;
    left: -10vw;
    width: 40%;
  }

  .img3 {
    margin-top: 170px;
  }

  .tache1 {
    top: 45vh;
    left: -20vw;
    width: 40%;
  }

  .img1 {
    margin-top: 200px;
  }

  .tache6 {
    width: 25%;
  }

  .tache4 {
    top: -45vh;
    left: 70vw;
    width: 40%;
  }

  .illustration2 {
    top: 25vh;
    left: 35vw;
  }

  .illustration3 {
    top: -10vh;
  }

  .illustration4 {
    top: 20vh;
    left: 55vw;
  }

  .tache5 {
    top: -40vh;
    left: -17vw;
    width: 50%;
  }

  .content_image {
    margin-top: 100px;
  }

  .content_image .image_r {
    display: none;
  }

  #content_activites {
    flex-direction: column-reverse;
  }

  .content_actu_secondary {
    display: none;
  }

  .content_realisation_img {
    display: none;
  }

  .realisation_img {
    margin: 10px 0;
  }

  .plus {
    margin-left: 220px;
  }
}

@media screen and (max-width: 768px) {
  .tache2 {
    top: 40vh;
    left: 40vw;
  }

  .illustration1 {
    top: 30vh;
    left: 40vw;
  }

  .tache3 {
    top: 75vh;
    left: -10vw;
  }

  .tache6 {
    /* top: 15vh; */
  }

  .illustration2 {
    top: 35vh;
  }

  .illustration3 {
    width: 40%;
    left: 60vw;
  }

  .illustration4 {
    top: 10vh;
    left: 45vw;
  }

  .tache5 {
    top: 75vh;
    left: 0vw;
  }

  .bl, .name {
    margin-left: 15px;
    width: auto;
  }

  .name {
    font-size: 40px;
  }

  .bl {
    font-size: 20px;
  }

  .actu_date p {
    font-size: 12px;
  }

  .actu_content_info h1 {
    font-size: 14px;
  }

  #content_realisation_article>.realisation_img:nth-child(1), #content_realisation_article>.realisation_img:nth-child(3) {
    height: 300px;
  }

  .plus {
    margin-left: 100px;
  }
}

@media screen and (max-width: 576px) {
  .mt-150px {
    margin-top: 100px;
  }

  .illustration {
    width: 45%;
  }

  .illustration1 {
    top: 30vh;
    left: 55vw;
  }

  .tache2 {
    top: 37vh;
    left: 50vw;
  }

  .illustration2 {
    top: 43vh;
    left: 40vw;
  }

  .tache3 {
    left: -20vw;
  }

  .illustration4 {
    top: 5vh;
    left: 60vw;
  }

  .tache5 {
    top: 45vh;
    left: 0vw;
  }

  .tache6 {
    display: none;
  }

  .name {
    font-size: 35px;
  }

  .bl {
    font-size: 16px;
    margin-top: 60px;
  }

  .image_l {
    height: 300px;
  }

  #content_realisation_article>.realisation_img:nth-child(1), #content_realisation_article>.realisation_img:nth-child(3) {
    height: 200px;
  }

  .plus {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .illustration1 {
    top: 55vh;
    left: 60vw;
  }

  .tache2 {
    top: 60vh;
    left: 55vw;
  }

  .illustration2 {
    top: 53vh;
    left: 40vw;
  }

  .tache3 {
    left: -35vw;
  }
}

/* prochainement */
