body{
  overflow-X:hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #21253F;
}

a {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.container-main {
  height: 80vh;
  position: relative;
  height: 100%;
  padding-top: 127px;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.date-title {
  font-size: 36px;
  text-align: left;
  margin: 50px 0;
  text-transform: uppercase;
}

.wrap-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-container {
  display: flex;
  justify-content: flex-start;
}

.filter-container {
  display: flex;
  right: 0;
}

.tri-categorie{
  display: flex;
}

.tri-categorie button{
  -webkit-appearance : none;
  background :transparent;
  border : none;
  font-size: 14px;
  font-weight: bold;
  color: #f09682;
  cursor: pointer;
}

.tri-categorie button:hover{
  text-decoration: underline;
}

.tri-categorie button{
  outline: none;
}

/*categorie color*/
.categorie.exposition{
  background-color: #f8c477;
}

.categorie.vente{
  background-color: #da6e91;
}

.categorie.rencontre{
  background-color: #03579c;
}

.categorie.conference{
  background-color: #f09682;
}

.categorie.autre{
  background-color: #a15d9a;
}

.when-container, .what-container{
  margin: 0 70px;
}

.when-container button, .what-container button{
  background-color: transparent;
}

.wrap-line {
  margin: 0;
}

.container-wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  position: relative;
}

.desc-wrap>p {
  color: #FFF;
}

.event-info{
  bottom: 0;
  position: absolute;
  width: 100%;
}

.event-date {
  font-size: 60px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0px 0px 4px #404040;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.event-title {
  color: #FFF;
}

.event-categorie{
  margin-bottom: 10px;
  text-transform: uppercase;
}

.img-event {
  height: 100%;
  width: 100%;
}

.wrap {
  margin: 0px 10px 25px;
  background-color: bisque;
  width: 300px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.desc-wrap {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

/*pop up*/
.set-bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-dialog{
  max-width: 600px;
}

.modal-content{
  border-radius: 0;
  border: none;
}

.modal-header{
  /* background-color: #03579c; */
  border-radius: 0;
  border: none;
}

.modal-header >*{
  color: #ffffff;
}

.modal-categorie{
  text-transform: uppercase;
}

.modal-body{
  padding: 0;
}

.img-event-modal{
  width: 100%;
  height: 100px;
}

.modal-body h2{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.pratical-event-modal{
  text-align: center;
}

.info-event-modal{
  display: flex;
  margin: 30px 0;
}

.info-event-modal>*{
  padding: 0;
}

.date-event-modal p{
  font-weight: bold;
}

.hours-event-modal{
  font-weight: bold;
  color: #03579c;
  font-size: 12px;
  margin-top: 20px;
  line-height: 20px;
}

.desc-event-modal{
  margin : 0 30px 30px 0;
  font-size: 16px;
  line-height: 20px;
}

.btn_access {
  color: #f09682;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  -webkit-appearance: none;
  border: none;
}

.btn_access:before {
  position: absolute;
  margin-top: 25px;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #f09682;
}

/*taches*/
.tache{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

.tache3{
  top: 0vh;
  left: -45vw;
}

.tache6{
  top: 110vh;
  left: 60vw;
  width: 40%;
  z-index: -1;
}

@media screen and (max-width : 1200px){
  .tache6{
    top: 170vh;
  }
}

@media screen and (max-width : 992px){
  .tache3{
    width: 130%;
  }

  .tache6{
    top: 180vh;
    width: 50%;
    left: 50vw;
  }
}

@media screen and (max-width : 768px){
  .tache3{
    width: 150%;
    left: -35vw;
    top: 10vh;
  }

  .tache6{
    top: 270vh;
    left: 55vw;
  }
}

@media screen and (max-width : 576px){
  .btn_access{
    margin-left: 16px;
  }

  .tache3{
    width: 170%;
    left: -60vw;
    top: 30vh;
  }

  .tache6{
    top: 280vh;
  }

  .title-container{
    justify-content: left;
    flex-direction: column;
  }

  .filter-container{
    margin-left: -20px;
  }

  .when-container{
    margin: 0 0px;
  }

  .what-container{
    margin: 0 110px;
  }
}

@media screen and (max-width : 450px){
  .tache6{
    top: 290vh;
  }
}

@media screen and (max-width : 370px){
  .tache3{
    display: none;
  }
  .tache6{
    display: none;
  }

}
