h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

a {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  line-height: 50px;
}

h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 0 0 15px;
}

.mt-200px{
  margin-top: 200px;
}

.set_bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .retour{
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 20px;
} */

.btn_access{
  color: #f09682;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  /* margin-left: 16px; */
  position: absolute;
  margin-top: -60px;
}

.btn_access:before{
  position : absolute;
  margin-top : 20px;
  content :"";
  height : 5px;
  width : 100%;
  background-color: #f09682;
}

.article-verrier{
  margin-top: 20px;
}

.title-article {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 45px 0;
}

.p-article {
  font-size: 14px;
  line-height: 25px;
}

.p-block {
  margin: 65px 0 0 0;
}

blockquote {
  color: #F09682;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  line-height: 25px;
  font-family: 'Ubuntu', sans-serif;
  margin: 40px 0;
}

cite {
  color: #F09682;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  font-family: 'Ubuntu', sans-serif;
  text-align: end;
}

.info-article {
  display: flex;
  justify-content: space-between;
  margin: 0 0 45px 0;
}

.date-article {
  font-size: 12px;
}

.writer-article {
  font-size: 12px;
}

.container-main {
  height: 80vh;
  position: relative;
  height: 100%;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 45px 0;
}

#row-glob {
  width: auto;
  margin-bottom: 100px;
}

#col-left {
  height: 400px;
  padding: 0;
}

#col-right {
  padding: 0;
  display: flex;
  align-items: center;
}

#col-left2 {
  height: 300px;
  display: block;
  /* margin: 0 30px; */
  padding: 0;
}

#col-right2 {
  padding: 0;
  /* margin: 0 30px; */
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* @media screen and (max-width: 1200px) {
  body{
    background-color: red;
  }
  #col-right{
    margin-top: 20px;
  }
} */

@media screen and (max-width: 992px) {
  .image_texte{
    flex-direction: column-reverse;
  }

  .main-title{
    text-align: center;
  }

  .intro-article{
    padding: 0;
  }

}
