:root {
  --main-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #21253F;
}

a {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.lettrine1 {
  left: -30px;
  top: -25px;
}

.title-atelier {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 45px 0;
}

.p-atelier {
  font-size: 14px;
  line-height: 20px;
}

.global {
  margin-top: 155px;
  padding: 0;
}

.container {
  overflow-X: hidden;
}

.ekjs_info_title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

/* .ekjs_arrow:before {
  border: 4px solid #f09682;
  opacity: 1;
} */
.ekjs_info {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  left: 110%;
  padding: 3vw 0;
}

#slider_container {
  background-color: #F8F8F8;
  overflow: hidden;
}

.ekjs_info_title.is_current {
  text-shadow: inherit;
}

.ekjs_info_text {
  margin-left: 0%;
}

.ekjs_arrows {
  top: 95%;
  left: 70%;
}

.ekjs_arrow {
  color: var(--main-color);
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.ekjs_arrow:before {
  display: none;
}

.ekjs_arrow:last-child {
  margin-left: 0;
}

.ekjs_right.is_disabled, .ekjs_left.is_disabled {
  opacity: 0.4;
}

.ekjs_info {
  /* overflow: scroll; */
}

.eokojs {
  width: 50%;
}

.illustration {
  position: absolute;
  z-index: 0;
  width: 300px;
  height: auto;
}

.illustration1 {
  top: 3vh;
  left: 70vw;
  width: 20%;
}

.tache-bl {
  z-index: 3;
  width: 25%;
  opacity: .3;
  mix-blend-mode: overlay;
}

.bl1 {
  top: 45vh;
  left: -7vw;
  width: 220px;
}

@media screen and (max-width: 900px) {
  .ekjs_info_container {
    position: absolute;
    top: inherit;
  }

  .bl1 {
    top: 30vh;
    left: -5vw;
    width: 220px;
  }

  .ekjs_info.is_current {
    left: 0%;
    overflow: inherit;
    text-align: center;
  }

  .eokojs {
    width: 100%;
  }

  .ekjs_info {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .ekjs_arrows {
    left: 50%;
  }

  .ekjs_info_text {
    /* margin-left: auto; */
    text-align: left;
    /* margin: 0 10px; */
    max-width: 100%;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .illustration1 {
    left: 60vw;
    width: 30%;
  }

  .bl1 {
    top: 30vh;
    left: -10vw;
    width: 220px;
  }
}

@media screen and (max-width: 490px) {
  .eokojs {
    height: 120vh;
  }

  .bl1 {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .eokojs {
    height: 140vh;
  }
}

.container-main {
  height: 80vh;
  /* width: 968px; */
  position: relative;
  height: 100%;
  /* padding: 5% 0; */
  padding-top: 127px;
}

.name, .bl {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3;
}

.bl {
  margin-top: 5%;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
  position: relative;
}

.title-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 50px 0;
}

#tache1-agenda {
  position: absolute;
  top: 33vh;
  left: -10vw;
  z-index: -1;
  width: 30%;
}

.tache6 {
  position: absolute;
  z-index: -1;
  width: 20%;
  height: auto;
}

.img-event {
  width: 120%;
}

.imgatelier {
  height: 100%;
}

#row-glob {
  width: auto;
}

#col-left {
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center;
  float: left;
  background-color: #cce196;
  height: 432px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#col-right {
  background-color: #F8F8F8;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
  align-items: center;
  height: 432px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
