h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #21253F;
}

a {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.title-agenda {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 45px 0;
}

.lettrine1 {
  left: -40px;
  top: -20px;
}

.illustration {
  position: absolute;
  z-index: 0;
  width: 300px;
  height: auto;
}

.illustration3 {
  top: 75vh;
  left: 88vw;
  z-index: 0;
  width: 15%;
}

.title-agenda-2 {
  margin: 65px 0 45px 0;
}

.global {
  overflow-X: hidden;
}

.container {
  /* overflow-X: hidden; */
}

.container-main {
  height: 80vh;
  /* width: 968px; */
  position: relative;
  height: 100%;
  /* padding: 5% 0; */
  padding-top: 127px;
}

.name, .bl {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3;
}

.bl {
  margin-top: 5%;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
  position: relative;
}

.title-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 50px 0;
}

#tache1-agenda {
  position: absolute;
  top: 33vh;
  left: -10vw;
  z-index: -1;
  width: 30%;
}

.tache6 {
  position: absolute;
  z-index: -1;
  width: 25%;
  height: auto;
}

.img-event {
  width: 120%;
}

.imgatelier {
  height: 100%;
}

#row-glob {
  width: auto;
}

#col-left {
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center;
  height: 432px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#col-right {
  background-color: #F8F8F8;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
  align-items: center;
  height: 432px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
