/* reset css */
@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*  */
* {
  font-family: 'Montserrat', sans-serif;
}

.content_all{
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin : 100px 0 0 0;
}

/* section top */
.container-top {
  display: flex;
  justify-content: center;
  /* margin-top: 15px; */
}

.container-top .ft-ctn-sn{
  margin : 0 10px;
}

.tache{
  position: absolute;
  z-index: -1;
  width: 30%;
  height: auto;
}

.tache6{
  right: 0;
  bottom: 0;
  width: 25%;
}

.ft-ctn-sn{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

/*section bottom */
.container-bottom {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top : 20px;
}

.ft-ctn-mention {
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  color: #f09682;
  font-size: 12px;
  transition: .6s;
  padding: 10px 0;
}

.ft-ctn-mention:hover{
  color: #21253f;
}

.fab {
  color: #21253f;
  font-size: 1.5em;
  margin: 0 15px;
  transition: .3s;
}

.fab:hover {
  color: #f09682;
}


@media screen and (max-width : 576px){
  .content_all{
    margin : 100px 0 0;
  }
}
