.loader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
}

.loader #content_svg{
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 204;
}

#content_svg img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#typo{
  z-index: 205;
  width: 150px;
}

#forme1{
  z-index: 203;
  margin-top: -45px;
  margin-left: 45px;
  z-index: 200;
  width: 140px;
  opacity: 0;
  -webkit-animation: display .8s linear .5s infinite alternate;
}

#forme2{
  z-index: 204;
  margin-left: -50px;
  width: 95px;
  margin-top: 30px;
  opacity: 0;
  -webkit-animation: display .8s linear .7s infinite alternate;
}

#forme3{
  z-index: 204;
  width: 67px;
  margin-left: 65px;
  margin-top: 65px;
  opacity: 0;
  -webkit-animation: display .8s linear .9s infinite alternate;
}

@-webkit-keyframes display {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*animation transition*/
.bg-blue, .bg-orange, .bg-pink{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.bg-blue{
  background-color: #21253f;
  z-index: 203;
}

.bg-orange{
  background-color: #f09682;
  -webkit-animation: swipe .8s linear 2s;
  z-index: 204;
  transform: translateX(-100%);
}

.bg-pink{
  background-color: #da6e91;
  -webkit-animation: swipe .8s linear 2.3s;
  z-index: 205;
  transform: translateX(-100%);
}

@-webkit-keyframes swipe {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(100%);}
}
