@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Ubuntu:300,400,500,700');
@import "header.css";
@import "footer.css";
@import "boutons.css";
@import "menu.css";
@import "loader.css";

body {
  overflow-X: hidden;
  --color-link: #4d4f5f;
  --color-link-hover: #bfb5b5;
  --path-fill-1: #21253f;
  --path-fill-2: #f09682;
  --path-fill-3: #da6e91;
  --button-bg: #fff;
  --button-line: #222;
  --yellow: #f8c477;
  --orange: #f09682;
  --pink: #da6e91;
  --purple: #a15d9a;
  --darkblue: #21253f;
  --lightblue : #03579c;
  --grey: #F8F8F8;
}

h1, h2, h3, h4, h5, h6, a{
  font-family: 'Ubuntu', sans-serif;
  color: var(--darkblue);
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 25px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

a:hover{
  text-decoration: none;
}

.main-title{
  color : var(--darkblue);
  font-size: 40px;
  font-weight: bold;
  position: relative;
}

.set_bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lettrine{
  font-family: 'Ubuntu', sans-serif;
  opacity: .15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  position: absolute;
  font-size: 100px;
  font-weight: bold;
  color : var(--darkblue);
}

.content_title, #actu_title, .main-title{
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.mt-150px {
  margin-top: 150px;
}

.mt-200px {
  margin-top: 200px;
}

/* navigation arows */
.modal-navigation{
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 15%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.modal-navigation-arrow {
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.modal-navigation-arrow{
  margin: 0 1vw;
  text-shadow: 0 0 1px #000000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}
