@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700');
@import "header.css";
@import "footer.css";

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Domine', serif; */
  font-family: 'Ubuntu', sans-serif;


}

a {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 25px;
}

h3 {
  font-size: 20px;

  font-weight: bold;
}

a:hover{
  text-decoration: none;
}

.main-title{
  color : #21253f;
}
