* {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #03579c;
}

p{
  line-height: 1.5em;
}

.container {
  padding: 0 10%;
}

.container-main {
  height: 80vh;
  /* width: 968px; */
  position: relative;
  height: 100%;
  /* padding: 5% 0; */
  padding-top: 127px;
}

.image-membre {
  width: 326px;
  height: 358px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: .5s;
}

.video {
  background-color: #888;
  width: 100%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.name, .bl {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3;
}

.bl {
  margin-top: 5%;
}

.main-title {
  font-size: 36px;
  font-weight: bold;
}
.btn_access {
  color: #f09682;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  /* margin-left: 16px; */
  position: absolute;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
}

.btn_access:before {
  position: absolute;
  margin-top: 25px;
  content: "";
  height: 5px;
  width: 100%;
  background-color: #f09682;
}

.container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.name-bold {
  font-weight: bold;
  margin: 0 0 5px 0;
}

.wrap {
  margin: 0px 10px 25px;
  position: relative;
}

.wrap:hover .tache{
  opacity: 1;
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.42, 0, 0.27, 1.43), opacity 0.8s cubic-bezier(0.42, 0, 0.55, 1.6);

}

.wrap:hover  .image-membre{
  transform: scale(.94);
}

.wrap:hover .desc-wrap{
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.27, 1.43);

}

.desc-wrap {
  margin-top: 10px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.27, 1.43);
}

.container-form {
  margin-top: 100px;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
}

#form-left {
  padding-left: 0px;
}

#form-right {
  display: flex;
  justify-content: flex-end;
}

#form-desc {
  margin: 50px 0 0 0;
}

/*taches hover*/
.tache{
  z-index: -1;
  position: absolute;
  width: 110%;
  top: -9vh;
  left: -2vw;
  transform: scale(0.2);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.42, 0, 0.27, 1.43), opacity 0.8s cubic-bezier(0.42, 0, 0.55, 1.6);
}

.tache1{
  width: 115%;
  top: -3vh;
}

.tache2{
  left: -1vw;
  top: -7vh;
}

.tache3{
  width: 150%;
  left: -5vw;
}

@media screen and (max-width: 768px) {
  #form-desc {
    flex-direction: column;
    margin: 20px;
  }

  #form-left, .form-title{
    margin-bottom: 30px;
  }

  .container-form {
    margin-top: 20px;
  }

  .tache{
    /* transform: scale(1);
    opacity: 1; */
    display: none;

  }

  .desc-wrap {
    opacity: 1;
    margin-top: 20px;
  }
}
