h1 {
  line-height: 50px;
}

h2 {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
}

.lettrine1 {
  left: -30px;
  top: 10px;
}

.tache{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}
.tache6 {
  width: 200px;
}

.title-article {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.container-main {
  height: 80vh;
  position: relative;
  height: 100%;
  padding-top: 127px;
}

.main-title {
  margin: 0 0 30px 0;
}

.bloc-ml{
  margin: 0 0 30px 0;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 50px 0;
}
