.lettrine1 {
  left: -50px;
  top: -10px;
}

.button-pre-center {
  text-align: center;
}

/*taches*/
.tache {
  position: absolute;
  z-index: -1;
  height: auto;
}

.tache-bl {
  z-index: 3;
  width: 25%;
  opacity: .3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  mix-blend-mode: overlay;
}

.tache2 {
  top: -15vh;
  left: 70vw;
}

.tache3 {
  top: 20vh;
  left: -15vw;
}

.bl1 {
  top: -60vh;
  left: 65vw;
}

.tache6 {
  width: 200px;
}
/*illustrations*/
.illustration {
  position: absolute;
  z-index: 0;
  width: 200px;
  height: auto;
}

.illustration1 {
  top: -15vh;
  left: 70vw;
}

/* TEXTE LEFT IMAGE RIGHT */
.texte_image, .image_texte, .texte_centre {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 70px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.content_texte, .content_image {
  position: relative;
  padding: 0;
}

.content_texte .content_para {
  color: #000;
  font-size: 14px;
}

.content_image {
  height: 350px;
  right: 0;
}

.image_l {
  height: 350px;
  background-color: #888;
  position: absolute;
}

.btn_membre {
  background-color: var(--orange);
  color: #FFFFFF;
  text-decoration: none;
  height: 100%;
  padding: 12px 15px;
  font-size: 12px;
  font-weight: bold;
  right: 0;
}

@media screen and (max-width: 992px) {
  .bl1 {
    top: -85vh;
    left: 65vw;
  }
}

@media screen and (max-width: 960px) {
  .tache2 {
    top: 22vh;
    left: 70vw;
  }

  .illustration1 {
    top: 20vh;
    left: 65vw;
    width: 150px;
  }

  .bl1 {
    top: -50vh;
    left: 65vw;
  }

  .tache2 {
    top: 20vh;
    left: 65vw;
  }
}

@media screen and (max-width: 768px) {
  .illustration1 {
    top: 20vh;
    left: 80vw;
  }

  .bl1 {
    top: -73vh;
    left: 69vw;
  }

  .tache2 {
    top: 20vh;
    left: 80vw;
  }

  .content_texte {
    margin-bottom: 20px;
  }

  .image_texte {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 576px) {
  .illustration1 {
    top: 25vh;
    left: 75vw;
  }

  .bl1 {
    display: none;
  }

  .tache2 {
    top: 30vh;
    left: 80vw;
  }
}
