.set_bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn_access {
  color: #f09682;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  /* margin-left: 16px; */
  position: absolute;
  -webkit-appearance: none;
  border: none;
}

.btn_access:before {
  position: absolute;
  margin-top: 25px;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #f09682;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
}

.intro-realisation{
  margin: 50px 0;
}

/* .createur{
  color: #FFFFFF;
  margin: 10px 0;
}

.title-container {} */

/* .filter-container {
  display: flex;
  right: 0;
}

.when-container, .what-container {
  margin: 0 70px;
}

.when-container button, .what-container button {
  background-color: transparent;
} */

.grid {
  margin-top: 50px;
}

.container-fluid {
  padding-top: 150px;
}

.grid-item {
  overflow: hidden;
  transition: transform .5s cubic-bezier(0.42, 0, 0.27, 1.43);
}

.grid-item img {
  max-width: 100%;
  display: block;
  margin: 10px 0;
  cursor: pointer;
}

.grid-item:hover{
  transform: scale(1.04);
  transition: transform .5s cubic-bezier(0.42, 0, 0.27, 1.43);
}

.grid-item>div {
  position: relative;
}

/*lightbox*/
.modal-title{
  color: #000;
  font-size: 20px;
  letter-spacing: 1px;
}

.modal-body{
  text-align: center;
}

.modal-body img{
  max-width: 450px;
  max-height: 500px;
  /* height: auto; */
}

.modal-footer{
  display: flex;
  justify-content: flex-end;
}

.modal-content .modal-footer .modal-creator{
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  margin-right: 15px;
}

.modal-footer img{
  width: 20px;
  height: auto;
}

@media screen and (max-width : 576px) {
  .btn_access {
    margin-left: 16px;
  }

  .main-title {
    margin-bottom: 20px;
  }

  .title-container {
    justify-content: center;
    flex-direction: column;
  }

  /* .filter-container {
    margin-left: -20px;
  }

  .when-container {
    margin: 0 0px;
  }

  .what-container {
    margin: 0 110px;
  } */
}
