/*général*/
.mt-150px{
  margin-top: 150px;
}

body{
  font-family: 'Ubuntu', sans-serif;
  overflow-X:hidden;
}

.set_bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*taches*/
.tache{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

.tache1{
  margin-left: -45%;
  margin-top: 10%;
}

.tache2{
  margin-left: 32%;
  margin-top: -4%;
}

.tache3{
  margin-left: -13%;
  margin-top: -17%;
}

.tache4{
  margin-left: 70%;
  margin-top: -45%;
}

.tache5{
  margin-left: -20%;
  margin-top: -30%;
  width: 70%;
  z-index: 2;
}

.tache6{
  margin-left: 40%;
  margin-top: -30%;
  width: 70%;
  z-index: 2;
}

/*illustrations*/
.illustration{
  position: absolute;
  z-index: 0;
  width: 100px;
  height: auto;
}

.illustration1{
  margin-left: 60%;
  margin-top: 3%;
}

.illustration2{
  margin-right: 15%;
  margin-top: -3%;
  width: 125px;
}

.illustration3{
  margin-left: 105%;
  margin-top: -40%;
  width: 125px;
}

.illustration4{
  margin-left: 44%;
  margin-top: -4%;
  width: 125px;
}

/*section vidéo*/
#content_video{
  position: relative;
  height: 100vh;
}

.video{
  /* background-color: #888; */
  margin-top: 2%;
  width: 100%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* position: absolute; */

  position: relative;
}

.name, .bl{
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 3;
  color: #fff;
  font-weight: 900;
  margin-left: 80px;
  font-family: 'Montserrat', sans-serif;
}

.name{
  font-size: 50px;
}

.bl{
  margin-top: 5%;
  font-size: 30px
}

.next_ev{
  height: 70px;
  width: 300px;
  background-color: #f09682;
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transform: translate(-50%, -50%); */
}

.next_ev p{
  top: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/*section qui sommes nous */
#content_about, #content_activites, #content_actu_article{
  display: flex;
  justify-content: space-between;
}

.content_texte, .content_image{
  position: relative;
  padding: 0;
}

.content_texte .content_title{
  height: 30px;
  color: #000;
  font-size:25px;
  font-weight: bold;
}

.content_texte .content_para{
  color: #000;
  font-size: 14px;
  margin-left: 16px;
  margin-top: 45px;
}

#content_about .content_para{
  margin-bottom: 30px;
}

.btn_menu{
  background-color: #f09682;
  color: #FFFFFF;
  text-decoration: none;
  height: 100%;
  padding: 12px 15px;
  font-size: 12px;
  font-weight: bold;
  right: 0;
  margin-left: 16px;
}

.content_image{
  height: 350px;
}

.image_l{
  height: 350px;
  background-color: #888;
  position: absolute;
}

.image_r{
  height: 200px;
  background-color: #666;
  position: absolute;
  top: 40%;
}

.btn_access{
  color: #f09682;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin-left: 16px;
  position: absolute;
  margin-top: 30px;
}

.btn_access:before{
  position : absolute;
  margin-top : 25px;
  content :"";
  height :2px;
  width : 100%;
  background-color: #f09682;
}

/*section activitées */
#content_actu{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  position: relative;
}

#actu_title{
  text-align: center;
  /* height: 30px; */
  color: #000;
  font-size:25px;
  font-weight: bold;
  margin-bottom: 45px;
}

.actu_principal{
  background-color: #888;
  height: 400px;
  padding: 0;
}

.actu_secondary{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.actu:nth-child(1){
    margin-bottom: 30px;
}

.actu{
  height: 185px;
  background-color: #888;
}

#content_actu .btn_access, #content_realisation .btn_access{
  left: 50%;
  transform: translateX(-50%);
}

/*section réalisations*/
#content_realisation{
  margin-bottom: 180px;
}
#content_realisation_article{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding : 0 40px;
}


.realisation_img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content_realisation_article > .realisation_img:nth-child(1){
  height: 400px;
}

.content_realisation_img > .realisation_img:nth-child(1){
  height: 250px;
  margin-bottom: 1rem;
}

.content_realisation_img > .realisation_img:nth-child(2){
  height: 200px;
}

#content_realisation_article > .realisation_img:nth-child(3){
  height: 350px;
}

/*FAQ*/
.question {
  position: relative;
  margin: 0;
  padding: 10px 50px 0px 0px;
  display: block;
  cursor: pointer;
}

.answers {
  background: #eeeeee;
  padding: 0px 15px;
  margin: 13px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.questions {
  display: none;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
}

.wrap_question{
  display:flex;
  justify-content: space-between;
  position: relative;
}

.wrap_question:before{
  position : absolute;
  margin-top : 40px;
  content :"";
  height :5px;
  width : 100%;
  background-color: #21253f;
}

.horizontal{
  width: 14px;
  height: 3px;
  background-color: #21253f;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vertical{
  width:3px;
  height: 14px;
  background-color: #21253f;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#plus{
  position:relative;
  height: 14px;
  width: 14px;
  margin-top: 10px;
  transition: .3s ease;
}

.questions:checked ~ .wrap_question #plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: .3s ease;
}
