h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

a {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.title-atelier{
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 45px 0;
}

.p-atelier{
  font-size: 14px;
  line-height: 20px;
}

.global {
  overflow-X: hidden;
}

.container {
  overflow-X: hidden;
  
}

.container-main {
  height: 80vh;
  /* width: 968px; */
  position: relative;
  height: 100%;
  /* padding: 5% 0; */
  padding-top: 127px;
}

.name, .bl {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3;
}

.bl {
  margin-top: 5%;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
}

.title-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 50px 0;
}

#tache1-agenda {
  position: absolute;
  top: 0vh;
  left: -14vw;
}

#tache2-agenda {
  position: absolute;
  top: 40vh;
  left: 35vw;
}

.img-event {
  width: 120%;
}

.imgatelier{
  height: 100%;
}

#row-glob{
  width: auto;

}

#col-left{
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align:center;
	float:left;
	background-color:#cce196;
	height:432px;
	overflow:hidden;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#col-right{
  background-color: #F8F8F8;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
  align-items: center;
  height: 432px;
}

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
