/* reset css */
@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*  */
* {
  font-family: 'Montserrat', sans-serif;
}

.content_all{
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin : 20px 0;
}

/* section top */
.container-top {
  display: flex;
  justify-content: center;
  /* margin-top: 15px; */
}

.container-top .ft-ctn-sn{
  margin : 0 10px;
}

/*section bottom */
.container-bottom {
  display: flex;
  justify-content: center;
  margin-top : 20px;
}

.ft-ctn-mention {
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  color: #f09682;
  font-size: 12px;
}
