/* HEADER */
header{
  margin: 0;
  /* padding-top: 5px; */
  position: fixed;
  width: 100%;
  z-index: 2;
  /* padding: 5px 150px; */
}

.content_menu{
  justify-content: space-around;
  display: flex;
}

#logo{
  height: 70px;
  width: auto;
  display: inline-block;
}

#nav_menu{
  align-self: center;
}

#nav_menu a{
  display: inline-block;
  margin: 0 20px;
}

#nav_menu .button-menu{
  padding: 5px;
  background-color: #333;
  margin: 0;
  margin-right: 0;
}
