/* HEADER */

header{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 5px 0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 4;
  background-color: #FFF;
}

.content_menu{
  justify-content: space-around;
  align-items: center;
  display: flex;
}

#logo{
  height: 80px;
  width: auto;
  display: inline-block;
}

.content_menu_right{
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.btn_menu{
  background-color: #f09682;
  color: #FFFFFF;
  text-decoration: none;
  height: 100%;
  padding: 12px 15px;
  font-size: 12px;
  font-weight: bold;
  right: 0;
}

#menu_burger{
  margin-left: 30px;
}

#nav_menu{
  align-self: center;
}

#nav_menu a{
  display: inline-block;
  margin: 0 20px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #21253f;
  margin: 4px 0;
  transition: 0.4s;
}
