* {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #21253F;
}

.container {
  padding: 0 10%;
}

.container-main {
  height: 80vh;
  /* width: 968px; */
  position: relative;
  height: 100%;
  /* padding: 5% 0; */
  padding-top: 127px;
}

.image-membre {
  width: 326px;
  height: 358px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.video {
  background-color: #888;
  width: 100%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.name, .bl {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3;
}

.bl {
  margin-top: 5%;
}

.main-title {
  font-size: 36px;
  font-weight: bold;
}

.form-link {
  text-decoration: none;
}

.form-p {
  color: black;
  font-size: 14px;
}

.form-button {
  width: 208px;
  height: 35px;
  background-color: #f09682;
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-content: center; */
}

.container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.name-bold {
  font-weight: bold;
  margin: 0 0 5px 0;
}

.wrap {
  margin: 0px 10px 25px;
}

.desc-wrap {
  margin-top: 10px;
}

.container-form {
  margin-top: 100px;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
}

#form-left {
  padding-left: 0px;
}

#form-right {
  display: flex;
  justify-content: flex-end;
}

#form-desc {
  margin: 50px 0 0 0;
}
