.container-fluid{
  padding-top: 150px;
}

.grid-item{
  overflow: hidden;
}

.grid-item img{
  max-width: 100%;
  display: block;
  margin: 10px 0;
}

.grid-item > div{
  position: relative;
}

.caption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  width: 100%;
  height: 100%;
	position: absolute;
  background-color: #21253f;
  transition: all 1s;
  opacity: 0;
  /* margin: 10px 0; */
}

.caption h2 {
	margin: 0;
	color: #fff;
	font-size: 1.5em;
  letter-spacing: 1px;
}

.caption_social{
  display: flex;
}

.caption_social img{
  width: 20px;
  height: 20px;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  margin: 15px;
}

.grid-item:hover .caption {
	opacity: 0.6;
 }
